<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<title>%%TITLE%%</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="StyleSheet" href="%%CSS%%" type="text/css" media="all"/>
<style type="text/css" media="all">
body { margin:8; }
</style>
</head>

<body>

<div id="header">
<a target="_top" href=""><img src="%%IMAGE_PATH%%logo.png" width="184" height="100" alt="Company Name"></a>
<hr />
<h1>%%PROJECT%%</h1>
%%ATTRIBUTES%%
</div>

<h2>Designs</h2>
%%PAGETREE%%

</body>
</html>
